.theme-toggle-button {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    color: white;
}

.theme-toggle-button .anticon {
    font-size: 18px;
}
