.host-form-route-container {
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
}

.host-form-route-container .ant-form-item {
    height: auto;
    margin-bottom: 0;
    margin-right: 20px;
}

.host-form-route-container .ant-form-item:last-of-type {
    margin-right: 0;
}

.host-form-route-field {
    flex-grow: 1;
    flex-shrink: 1;
}
