.shell-user-menu-container {
    color: white;
    font-size: 16px;
}

.shell-user-menu-icon {
    padding-left: 10px;
}

.shell-user-menu-actions span,
.shell-user-menu-actions .theme-toggle-button {
    padding-left: 10px;
}

.shell-user-menu-user-name {
    flex-grow: 1;
    font-size: 14px;
    margin-left: 30px;
}
