go 1.26

use (
	api
	application
	certificate/commons
	certificate/custom
	certificate/letsencrypt
	certificate/selfsigned
	core
	database
	i18n
	integration/docker
	integration/truenas
	tools
	vpn/tailscale
)
