.home-guide-container h1 {
    font-size: 38px;
    margin: 0;
    text-align: center;
}

.home-guide-subtitle {
    margin: 10px 0 0 !important;
    font-size: 28px !important;
    text-align: center;
}

.home-guide-header-container {
    background: #f5f5f5;
    padding: 120px 40px;
    margin-bottom: 50px;
}

.home-guide-container h2 {
    font-size: 28px;
    margin-top: 20px;
}

.home-guide-container p {
    font-size: 16px;
    margin: 10px 0;
    padding: 0;
}

.home-guide-right-side-video,
.home-guide-left-side-video {
    flex-grow: 0;
    flex-shrink: 0;
    width: 40%;
}

.home-guide-container video {
    width: 100%;
}

.home-guide-right-side-video {
    margin: 0 0 0 20px;
}

.home-guide-left-side-video {
    margin: 0 20px 0 0;
}

.home-guide-section {
    margin-bottom: 80px;
    padding: 0 40px;
}

.home-guide-section-content {
    flex-grow: 1;
    width: 60%;
}

.home-guide-footer-container {
    background: #f5f5f5;
    padding: 60px 40px;
}

.home-guide-footer-container h1 {
    font-size: 24px;
}

.home-guide-footer-container p {
    font-size: 18px !important;
}
