nginx-ignition:
  server:
    port: 8090
    shutdown-delay-seconds: 2

  nginx:
    binary-path: nginx
    config-directory: /tmp/nginx-ignition/nginx

  database:
    url: "jdbc:h2:mem:nginx-ignition;DB_CLOSE_DELAY=-1"
    username: root
    password: root
    connection-pool:
      maximum-size: 10
      minimum-size: 1

  security:
    user-password-hashing:
      algorithm: SHA-512
      salt-size: 64
      iterations: 1024
    jwt:
      secret: ""
      ttl-seconds: 3600
      clock-skew-seconds: 60
      renew-window-seconds: 900

  certificate:
    lets-encrypt:
      production: true

  integration:
    truenas:
      api-cache-timeout-seconds: 15
