.shell-container {
    min-height: 100vh;
}

.shell-sider-container {
    height: auto;
    max-height: 100vh;
    min-height: 575px;
    overflow-y: auto;
    overflow-x: hidden;
    position: sticky;
    top: 0;
    left: 0;
}

.shell-sider-container .ant-layout-sider-children {
    display: flex;
    flex-direction: column;
}

.shell-sider-logo {
    color: white;
    font-size: 18px;
    padding: 58px 20px 20px;
}

.shell-sider-logo-link {
    color: white;
    font-size: 26px;
}

.shell-sider-menu-container {
    flex-grow: 1;
}

.shell-sider-menu-item {
    margin: 5px 10px !important;
    padding: 10px 10px 10px 15px !important;
    width: 225px !important;
    border-radius: 4px !important;
}

.shell-sider-bottom-credits {
    color: var(--nginxIgnition-colorTextSecondary);
    padding: 10px;
    align-content: center;
    text-align: center;
    font-size: 13px;
}

.shell-sider-bottom-credits .anticon {
    margin-left: 5px;
    font-size: 16px;
}

.shell-sider-bottom-credits .anticon:first-of-type {
    margin-left: 10px;
}

.shell-content-header-container {
    padding: 25px;
    vertical-align: center;
    position: sticky;
    top: 0;
    background: var(--nginxIgnition-colorBgLayout);
    z-index: 99;
}

.shell-content-header {
    flex-grow: 1;
}

.shell-content-header-title,
.shell-content-header-subtitle {
    padding: 0;
    margin: 0;
}

.shell-content-header-subtitle {
    font-weight: normal;
    font-size: 16px;
}

.shell-content-header-actions-container {
    padding-top: 20px;
}

.shell-content-actions-action-item {
    margin-left: 10px;
}

.shell-content-main {
    background: var(--nginxIgnition-colorBgContainer);
    padding: 25px;
    flex-grow: 1;
    z-index: 98;
    display: flex;
    flex-direction: column;
}

.shell-content-main-no-padding {
    padding: 0;
}
