.shell-container {
    padding-left: 250px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 100vh;
    height: fit-content;
}

.shell-header {
    padding: 0;
    background: #fff;
}

.shell-sider-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}

.shell-title {
    padding: 30px 20px 0;
    margin: 0;
}

.shell-subtitle {
    padding: 0 20px 0;
    margin: 0;
    font-weight: normal;
    font-size: 16px;
}

.shell-content {
    margin: 24px 0 0;
    padding: 24px;
    background: #fff;
    border-radius: 4px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
}

.shell-toggle-button {
    font-size: 16px;
    width: 64px;
    height: 64px;
}

.shell-logo {
    color: #fff;
    font-size: 18px;
    padding: 62px 20px 20px;
}

.shell-logo-link {
    color: #fff;
    font-size: 26px;
}

.shell-menu-container {
    margin-top: 20px;
}

.shell-menu-item {
    margin: 5px 10px !important;
    padding: 10px 10px 10px 15px !important;
    width: 225px !important;
    border-radius: 4px;
}

.shell-actions-container {
    align-items: center;
    justify-content: end;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 30px 20px 0;
}

.shell-actions-container button {
    margin-left: 10px;
}

.shell-user-menu {
    position: fixed;
    bottom: 0;
    width: 250px;
}
