.cache-form-section-name {
    font-size: 19px;
    margin: 50px 0 0 0;
    padding: 0;
}

.cache-form-section-name:first-of-type {
    margin-top: 0;
}

.cache-form-section-help-text {
    color: var(--nginxIgnition-colorTextTertiary);
    margin: 0 0 25px 0;
    padding: 0;
    font-size: 14px;
}
