.cache-form-section-name {
    font-size: 19px;
    margin: 50px 0 0 0;
    padding: 0;
}

.cache-form-section-name:first-child {
    margin-top: 0;
}

.cache-form-section-help-text {
    color: var(--nginxIgnition-colorTextTertiary);
    margin: 0 0 25px 0;
    padding: 0;
    font-size: 14px;
}

.cache-form-inner-flex-container {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}

.cache-form-inner-flex-container-column {
    width: auto;
    flex-direction: column;
    flex: 1;
    padding-right: 50px;
}

.cache-form-inner-flex-container-column:last-of-type {
    padding-right: 0;
}

.cache-form-expanded-label-size .ant-form-item-label {
    min-width: 43%;
}
