.nginx-control-container {
    padding: 15px;
    margin: 0 10px 10px 0;
    background: var(--nginxIgnition-colorPrimary);
    color: white;
    border-radius: 0 10px 10px 0;
}

.nginx-control-status-title {
    font-size: 16px;
}

.nginx-control-status-badge sup {
    font-size: 13px !important;
}

.nginx-status {
    margin-top: 15px;
}

.nginx-status-line {
    width: 50%;
    height: 20px;
}

.nginx-reload-button {
    margin-left: 5px;
}
