.nginx-control-container {
    padding: 15px 20px;
    margin: 0 0 10px;
    background: #032c53;
    border-radius: 0;
    color: #fff;
}

.nginx-control-status-title {
    font-size: 16px;
}

.nginx-control-status-badge sup {
    font-size: 13px !important;
}

.nginx-status {
    margin-top: 15px;
}

.nginx-status-line {
    width: 50%;
    height: 20px;
}

.nginx-reload-button {
    margin-left: 5px;
}
