:root {
    --nginxIgnition-colorBgLayout: #f5f5f5;
    --nginxIgnition-colorBgContainer: #fff;
    --nginxIgnition-colorText: #000;
    --nginxIgnition-colorTextSecondary: #aeaeae;
    --nginxIgnition-colorBgElevated: #fafafa;
    --nginxIgnition-colorBorderSecondary: #f0f0f0;
    --nginxIgnition-colorWarning: #a67a17;
    --nginxIgnition-colorSuccess: #3f831a;
    --nginxIgnition-colorError: #af1f1f;
    --nginxIgnition-colorTextDisabled: #b8b8b8;
    --nginxIgnition-colorTextTertiary: #606060;
    --nginxIgnition-colorPrimary: #032c53;
}

html[data-theme="dark"] {
    --nginxIgnition-colorBgLayout: #1f1f1f;
    --nginxIgnition-colorBgContainer: #141414;
    --nginxIgnition-colorText: #fff;
    --nginxIgnition-colorTextSecondary: #8c8c8c;
    --nginxIgnition-colorBgElevated: #272727;
    --nginxIgnition-colorBorderSecondary: #303030;
    --nginxIgnition-colorWarning: #d8bd14;
    --nginxIgnition-colorSuccess: #49aa19;
    --nginxIgnition-colorError: #d32029;
    --nginxIgnition-colorTextDisabled: #5a5a5a;
    --nginxIgnition-colorTextTertiary: #a6a6a6;
    --nginxIgnition-colorPrimary: #032c53;
}

body {
    margin: 0;
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--nginxIgnition-colorBgLayout);
}

.ant-app,
#nginx-ignition-root {
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.preloader-container {
    background: var(--nginxIgnition-colorBgLayout);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preloader-body {
    width: fit-content;
    display: flex;
    flex-direction: row;
}

.preloader-title {
    margin: 0 0 15px 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
}

.preloader-message {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
}

.preloader-spinner {
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}

.preloader-spinner svg {
    -webkit-animation-name: preloader-spin;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: preloader-spin;
    -moz-animation-duration: 1000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: preloader-spin;
    -ms-animation-duration: 1000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: preloader-spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes preloader-spin {
    from {
        -ms-transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
    }
}

@-moz-keyframes preloader-spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes preloader-spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes preloader-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
