.pagination-container {
    margin-top: 25px;
}

.data-table .ant-table-container {
    border-radius: 0 0 6px 6px;
    border-start-start-radius: 0;
    border-start-end-radius: 0;
    border-end-start-radius: 6px;
    border-end-end-radius: 6px;
    border-inline-end-width: 1px;
    border-inline-end-style: solid;
    border-inline-end-color: var(--nginxIgnition-colorBorderSecondary);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--nginxIgnition-colorBorderSecondary);
    overflow: hidden;
}

.data-table .ant-table-container::before,
.data-table .ant-table-container > .ant-table-content {
    border-start-start-radius: 0;
    border-start-end-radius: 0;
}

.data-table .ant-table-container::after {
    border-start-start-radius: 0;
    border-start-end-radius: 0;
    border-end-end-radius: 6px;
}

.data-table .ant-table-container table > thead > tr:first-child > *:first-child,
.data-table .ant-table-container table > thead > tr:first-child > *:last-child {
    border-start-start-radius: 0 !important;
    border-start-end-radius: 0 !important;
}

.data-table .ant-table-content {
    overflow: unset !important;
}

.data-table-search-bar-container {
    padding: 10px 10px;
    background: var(--nginxIgnition-colorBgElevated);
    border: 1px solid var(--nginxIgnition-colorBorderSecondary);
    border-bottom: none;
    border-radius: 6px 6px 0 0;
}

html:not([data-theme="dark"]) .data-table-search-bar-container {
    border-color: #e6e6e6ff;
}

html:not([data-theme="dark"]) .data-table .ant-table-container,
html:not([data-theme="dark"]) .data-table .ant-table-cell {
    border-color: #e6e6e6ff !important;
}
