.pagination-container {
    margin-top: 25px;
}

.data-table .ant-table-container,
.data-table table,
.data-table th.ant-table-cell {
    border-radius: 0 !important;
}

.data-table .ant-table-content {
    overflow: unset !important;
}

.data-table-search-bar-container {
    padding: 10px 10px;
    background: var(--nginxIgnition-colorBgElevated);
    border: 1px solid var(--nginxIgnition-colorBorderSecondary);
    border-bottom: none;
    border-radius: 4px 4px 0 0;
}
