.ant-pro-form-login-page-title,
.ant-pro-form-login-page-desc {
    color: #fff;
}

.ant-pro-form-login-page-title {
    font-size: 28px;
}

.ant-pro-form-login-page-desc {
    margin: 2px 0 40px;
    font-size: 16px;
    text-align: left;
}

.ant-pro-form-login-page-header {
    justify-content: left;
}

.ant-pro-form-login-page-notice {
    display: none;
}

.ant-pro-form-login-page-left {
    max-width: 650px;
    margin: 10% auto 0;
}

.ant-pro-form-login-page-top {
    margin-right: 10px;
}

#nginx-ignition-login-form .ant-form-item:first-of-type {
    margin-bottom: 12px;
}
