.access-list-credentials-container {
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
    display: flex;
}

.access-list-credentials-container .ant-form-item {
    height: auto;
    margin-bottom: 0;
    margin-right: 20px;
}

.access-list-credentials-container .ant-form-item:last-of-type {
    margin-right: 0;
}

.access-list-credentials-username,
.access-list-credentials-password {
    flex-grow: 1;
}
