name: release-pipeline
on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

jobs:
  build:
    runs-on: self-hosted
    permissions:
      contents: write
    env:
      GOPATH: /data/cache/go
      GOMODCACHE: /data/cache/go/pkg/mod
      GOTOOLCHAIN: ""
      npm_config_cache: /data/cache/npm
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: 24
      - uses: actions/setup-go@v5
        with:
          go-version: 1.25.6
      - name: Install nfpm
        run: |
          echo 'deb [trusted=yes] https://repo.goreleaser.com/apt/ /' | sudo tee /etc/apt/sources.list.d/goreleaser.list
          sudo apt update
          sudo apt install -y nfpm gettext-base
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
        with:
          driver: docker-container
          driver-opts: |
            image=moby/buildkit:master
            network=host
          platforms: linux/amd64,linux/arm64
      - uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Resolve version number from tag
        id: tag
        run: echo "VERSION=$(echo $GITHUB_REF | cut -d / -f 3)" >> $GITHUB_OUTPUT
      - name: Build and release
        run: make build-release VERSION=${{ steps.tag.outputs.VERSION }}
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          name: ${{ steps.tag.outputs.VERSION }}
          body: "Docker image: dillmann/nginx-ignition:${{ steps.tag.outputs.VERSION }}"
          files: |
            build/nginx-ignition*.zip
            build/nginx-ignition*.deb
            build/nginx-ignition*.rpm
            build/nginx-ignition*.apk
            build/nginx-ignition*.pkg.tar.zst
            build/nginx-ignition*.ipk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
