name: release-pipeline
on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'npm'
          cache-dependency-path: frontend/package-lock.json
      - uses: actions/setup-go@v5
        with:
          go-version: 1.25.5
          cache: true
          cache-dependency-path: go.work.sum
      - name: Install nfpm
        run: |
          echo 'deb [trusted=yes] https://repo.goreleaser.com/apt/ /' | sudo tee /etc/apt/sources.list.d/goreleaser.list
          sudo apt update
          sudo apt install -y nfpm gettext-base
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
        with:
          driver: docker-container
          driver-opts: |
            image=moby/buildkit:master
            network=host
          platforms: linux/amd64,linux/arm64
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Resolve version number from tag
        id: tag
        run: echo ::set-output name=VERSION::$(echo $GITHUB_REF | cut -d / -f 3)
      - name: Build and release
        env:
          GOPATH: ${{ github.workspace }}/.go
          GOMODCACHE: ${{ github.workspace }}/.go/pkg/mod
          GOTOOLCHAIN: ""
        run: make build-release VERSION=${{ steps.tag.outputs.VERSION }}
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          name: ${{ steps.tag.outputs.VERSION }}
          body: "Docker image: dillmann/nginx-ignition:${{ steps.tag.outputs.VERSION }}"
          files: |
            build/nginx-ignition*.zip
            build/nginx-ignition*.deb
            build/nginx-ignition*.rpm
            build/nginx-ignition*.apk
            build/nginx-ignition*.pkg.tar.zst
            build/nginx-ignition*.ipk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
